/testfiles
/testfiles/*
*.py[co]
.DS_Store
.coverage
.figleaf
.cache
__pycache__
build/*
dist/*
*.sw?
/validator/constants_local.py
/src
/extras/jslibs
/extras/language_controls
dist/
amo_validator.egg-info/
nosetests.xml
.tox/
*.orig
*.rej
*.bak
